<%= content_tag_for :tr, track do %>
    <% track_route = "/system/tracks/audios/000/000/00#{track.id}/original/#{track.audio_file_name}" %>
    <td><%= track.artiste %></td>
    <td><%= track.title %></td>
    <td><%= track.audio_file_name %></td>
    <td>
      <audio id="<%= track.id %>" controls>
        <source src=<%=track_route%>>
      </audio>

      <%= link_to 'Download', audio_download_path(track), method: :get %>
      <%= link_to 'Edit', edit_track_path(track) %>
      <%= link_to 'Delete', track, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
<% end %>
